*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body e Fonte */
body {
  font-family: Arial, Helvetica, sans-serif;
  display:flex;
  flex-direction: column;
  min-height:100vh;
}

/*Menu superior*/
header {
    display:flex;
    justify-content: flex-end;
    padding:10px 20px;
    background-color: #fff;
 }

 .top.menu ul{
    list-style: none;
    display:flex;
    gap:20px;
    margin: 0;
    padding:0;
 }
 .top.menu li a {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .top.menu .avatar{
    color: white;
    background-color: orangered;
    border-radius: 50%;
    border:1px solid #5f6368;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    display: inline-block;
    border: none;
 }

 /*Inteito,botão container*/
   .top.menu .grid-icon {
    color: initial;  
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: max-content;
    padding: 3px;
    display: grid;
    grid-template-columns: repeat(3, 6px);
    grid-gap: 1px;
    cursor: pointer;
    transition: background-color 0.3s;
}
/* Quando passa o mouse*/
.top.menu .grid-icon:hover {
    background-color: #e8eaed;
}
/*Pontinhos de dentro*/
.top.menu .grid-icon span {
    width: 5px;
    height: 5px;
    background-color: #5f6368;
    border-radius: 50%;
    display: block;
}

 
 /*logo central*/
 main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
 }
  .logo{
   margin-bottom: -80px;
  }

 
 .logo img{
    width: 500px;
    padding: 92px;
    margin-bottom: 20px;
 }

 /*caixa de pesuuisa*/
 .search-box input{
    width:500px;
    height: 40px;
    padding: 10px 15px;
    border:1px solid #dfe1e5;
    border-radius: 24px;
    font-size: 16px;
    outline:none;
    box-shadow: none;
 }

 /*botões*/
 .buttons button {
    background-color: #f8f9fa;
    border:1px solid #f8f9fa;
    padding: 8px 16px;
    margin: 0 5px;
    border-radius:4px;
    font-size: 14px;
    cursor:pointer;
 }
 .buttons button:hover{
    border:1px solid #c6c6c6;
 }
 /*Rodapé*/
 footer{
    background-color: #f2f2f2;
    width: 100;
    padding:15px 50px;
    display:flex;
    justify-content: space-between;
    font-size: 12px;
    color:#70757a;
 }
